<link rel="stylesheet" href="/static/style.css">

<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/admin_stats">Stats</a>
    <a href="/admin_users">Users</a>
    <a href="/logout">Logout</a>
</nav>

<div class="container">

<h1>Admin Panel</h1>

{% for ticket in tickets %}

<div class="card">
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>

    <p><b>Priority:</b> {{ ticket.priority }}</p>
    <p><b>Status:</b> {{ ticket.status }}</p>

    <p>
        <a href="/update_status/{{ ticket.id }}/Open">Open</a> |
        <a href="/update_status/{{ ticket.id }}/In Progress">In Progress</a> |
        <a href="/update_status/{{ ticket.id }}/Closed">Closed</a>
    </p>
</div>

{% endfor %}

</div>